.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}


.price-table{
  padding-bottom: 10px;
  padding-top: -2px;
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
  width: 80%;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(10,9.78vw);
  grid-gap: 2px;
  z-index: -1;
  position: absolute;
  left: 0px;
  top: 0px;
}

Img {
  max-width: 100%;
  border-radius: 1px;
  
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  border-radius:25px;
}

.all-container{
  width:50%;
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
  border-radius: 1%;
}

.paper-container-begin{
  margin-top: 25%;
  padding-top: 10px;
  margin-left:auto;
  margin-right:auto;
  padding-bottom: 10px;
}

.linear-progress{
  width: 80%;
  margin: auto auto;
}

.paper-container-returned{
  margin-top: 1%;
  padding-top: 1px;
  padding-bottom: 35px;
  margin-left:auto;
  margin-right:auto;
  width: 70%;
}

h1 {
  padding: 5px;
  margin-top: 20px;
  text-align: center;
  color: #222;
}

.text-input {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media only screen and (max-width: 1200px) {
.all-container{
  width:80%;
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
  border-radius: 1%;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(6,15.8vw);
  grid-gap: 2px;
  z-index: -1;
  position: absolute;
  left: 0px;
  top: 0px;
}

.paper-container-begin{
  margin-top: 25%;
  padding-top: 10px;
  margin-left:auto;
  margin-right:auto;
}

.paper-container-returned{
  margin-top: 4%;
  padding-top: 5px;
  padding-bottom: 35px;
  margin-left:auto;
  margin-right:auto;
  width: 100%;
}
}